@font-face {
  font-family: Dexline;
  src: url("./assets/DaxlinePro-Regular.ttf");
}

* {
  padding: 0;
  margin: 0;
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
}

body {
  background-color: #d32e20;
  padding-bottom: 50px;
}

.App-header {
  display: flex;
  background-color: white;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
}

.dashboard_wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 40px;
}

.logo {
  background-image: url(./assets/logo.png);
  background-size: contain;
  background-repeat: no-repeat;
  height: 200px;
  width: 400px;
}

.header_title {
  font-family: Dexline;
  text-decoration: underline;
  color: white;
  margin-top: 50px;
}

#instagram {
  background-image: url(./assets/insta.png);
  width: 30px;
  height: 30px;
  background-size: contain;
  background-repeat: no-repeat;
  transition: 1s;
  position: relative;
  left:0;
}

#instagram.notLoaded {
  left: -100vw;
}

.bottom {
  color: white;
  font-family: Dexline;
  text-align: center;
  margin-top: 40px;
}

.contact_text {
  font-family: Dexline;
  font-weight: bold;
  margin-right: 10px;
  font-size: 20px;
}

.contact {
  display: flex;
  align-items: center;
  flex-direction: column;
  animation: 1s ease-out 0s 1 slideInFromRight;
}

.underline {
  text-decoration: underline;
  margin-bottom: 7px;
}

#instagram_anim {
  animation: 1s ease-out 0s 1 slideInFromBottom;
}


@media only screen and (max-width: 600px) {
  .logo {
    height: 200px;
    width: 80%;
  }

  .contact_text {
    font-family: Dexline;
    font-weight: bold;
    margin-right: 10px;
    font-size: 17px;
  }
}

@media only screen and (max-width: 320px) {
  .logo {
    height: 200px;
    width: 80%;
  }

  .contact_text {
    font-family: Dexline;
    font-weight: bold;
    margin-right: 10px;
    font-size: 17px;
  }
}

@keyframes slideInFromLeft {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideInFromRight {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideInFromBottom {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideInFromTop {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
